.header {
  grid-area: h;
  background-color: #bed5ed;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 5px;
  justify-content: space-between; 
}

.logo {
  height: 35px;
  width: 35px;
  margin-left: 2%;
  border-radius: 50%;
}

.loginBlock {
  margin-right: 2%;
}

.loginBlock a {
  color: white;
}
