.nav {
  grid-area: n;
  background-color: #bed5ed;
  padding: 20px;
  min-height: 500px;
  border-radius: 10px;
}

.item a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.item a.activeLink {
  font-size: 30px;
}